.loading_{
    display: flex;
    justify-content: center;
    margin: auto;
}
.loading_container {
    text-align: center;
    margin-top: 100px;
  }
  .spin {
    border: 3px solid #0D4B9F;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader2 {
    border: 3px solid #023047;
    width: 60px;
    height: 60px;
    position: relative;
    top: -56px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader3 {
    border: 3px solid #005CDC;
    width: 70px;
    height: 70px;
    position: relative;
    top: -121px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader4 {
    border: 3px solid #023047;
    width: 80px;
    height: 80px;
    position: relative;
    top: -196px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotateZ(-360deg)
    }
    100% {
      transform: rotateZ(0deg)
    }
  }
  @keyframes rotate2 {
    0% {
      transform: rotateZ(360deg)
    }
    100% {
      transform: rotateZ(0deg)
    }
  }
  #text {
    font-size: 8px;
    position: relative;
    top: -253px;
    font-weight: 600;
  }