.comment_container{
    margin-bottom: 4rem;
}
.comment_container_child{
    width: 95%;
    margin: auto;
}
.comment_container_child > header > span{
    font-size: 3rem;
    position: relative;
    z-index: -1;
    padding-left: 1rem;
}
.comment_container_child > header > span::before{
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0.5rem;
    left: 0;
    border-left: 5px solid #0077b6;
}
.main_comment_section{
    margin-top: 2rem;
}
.main_comment_section > header{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.comment_form {
    padding-bottom: 1rem;
    border-bottom: 1px solid #999;
}
.comment_form .indv_comment_input{
    margin-bottom: 1rem;
}
.comment_form .indv_comment_input > input{
    height: 4rem;
    border: none;
    width: 30rem;
    padding-left: 1rem;
    box-shadow: 0 0 2px 2px #0076b671;
    outline: none;
    font-size: 1.6rem;
    border-radius: 5px;
}
.comment_form  .indv_comment_btn > button{
    height: 3.5rem;
    font-size: 1.4rem;
    background-color: #0077b6;
    padding: 0 1rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms linear;
}
.comment_form  .indv_comment_btn > button:hover{
    background-color: #02517b;
}
.comment_here{
    margin-top: 2rem;
    font-size: 1.5rem;
}
.comment_here_child{
    margin-bottom: 2rem;
}
.comment_name{
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}
.comment_{
    padding-left: 2.5rem;
}

@media all and (max-width: 330px) {
    .comment_form .indv_comment_input > input{
       width: 100%;
    }
}
.delete_icon{
    color: red;
    cursor: pointer;
}
