.home_container{
    margin: 8rem auto 3rem auto;
}
.home_header{
    max-height: 50rem;
    min-height: 50rem;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
}

.home_header_desc_container{
    color: rgba(255, 255, 255, 0.817);
    width: 95%;
    margin: auto;
}
.home_header_desc{
    font-size: 1.3rem;
    margin-top: 1rem;
}
.first_overview{
    font-size: 2rem;
    font-weight: 600;
    color: #0077b6;
}
.home_header_desc > .movie_tags > span{
    font-size: 1.7rem;
}
.home_header_desc > .movie_tags > span:not(:last-child):after{
    content: "";
    display: inline-block;
    width: 0.52rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.4rem;

}
.home_header_main_desc{
    width: 25%;
    text-align: start;
    font-size: 1.5rem;
    margin-top: 1rem;
}
@media all and (max-width: 1200px) {
    .home_header_main_desc{
        width: 50%;
    }
    
}
@media all and (max-width: 768px) {
    .home_header_main_desc{
        width: 80%
    }
}
.home_header_header{
    font-size: 3rem;
    font-weight: 600;
}
.home_body_section{
    padding: 2rem 0;
    font-size: 2rem;
    width: 95%;
    margin: auto;
}
.home_body_header{
    padding-bottom: 2rem;
    border-bottom: 0.05rem solid #02304751;
}
.header{
    text-align: center;
    margin-bottom: 6rem;
}
.span{
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color: #0077b6;
}
.header_body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_form{
    font-size: 1.5rem;
    width: 40%;
    min-width: 25rem;
}
.header_form > form{
    width: 100%;
}
.header_form > form > input{
    height: 4rem;
    width: 70%;
    min-width: 25rem;
    padding-left: 1rem;
    outline: none;
    border: 0.2rem solid #02304751;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}
.filter{
    font-size: 1.5rem;
    width: 10%;
    min-width: 15rem;
    padding-left: 1rem;
}
.filter > form > select{
    width: 12rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 0.2rem solid #02304751;;
    outline: none;
    border-radius: 0.5rem;
    transition: all 300ms linear;

}
.filter > form > select > option{
    cursor: pointer;
}
.filter > form > select:hover {
    outline: 0.2rem solid #02304751;

}
@media all and (max-width: 438px) {
    .filter{
        margin-top: 1rem;
        padding-left: 0;
    }
}
.movie_category_title{
    margin-top: 3rem;
}
.movie_category_title > span{
    position: relative;
    padding-left: 1rem;
    z-index: -1;
}
.movie_category_title > span::before{
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0.1rem;
    left: 0;
    border-left: 5px solid #0077b6;
}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1rem;
}
.indv_movie{
    max-width: 50rem;
    width: 24%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #02304751;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    transition: all 300ms linear;
}
.indv_movie:hover{
    background-color: #f1f1f1;
    border: 1.5px solid #0077b6
}
@media all and (max-width: 1200px) {
    .indv_movie{
        width: 32%;
    }
}
@media screen and (max-width: 875px) {
    .indv_movie{
        width: 49%;
    }
}
@media all and (max-width: 544px) {
    .body{
        justify-content: space-around;
    }
    .indv_movie{
        width: 80%;
    }
}
.indv_movie_child{
    font-size: 1.5rem;
}
.indv_movie_header{
    width: 100%;
}
.indv_movie_child > .indv_movie_header > img{
    width: 100%;
    object-fit: cover;
}
.indv_movie_title{
    font-size: 1.7rem;
    margin: 0.5rem 0;
    font-weight: 600;
}
.indv_movie_title:hover{
    color: #0077b6;
}
.indv_desc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.indv_desc_info > span:first-child::after{
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #023047;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
}
.movie_tag > span{
    padding: 0.2rem 0.6rem;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 0.5rem;
    font-size: 1.3rem;
}
.load_more{
    text-align: center;
}
.load_more > button{
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #0077b6;
    color: white;
}
.indv_movie_header{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.delete_icon{
    color: red;
}